/*responsive settings*/

// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;


// Small devices
@mixin sm {
    @media (min-width: #{$screen-sm-min}) {
        @content;
    }
 }
 
 // Medium devices
 @mixin md {
    @media (min-width: #{$screen-md-min}) {
        @content;
    }
 }
 
 // Large devices
 @mixin lg {
    @media (min-width: #{$screen-lg-min}) {
        @content;
    }
 }
 
 // Extra large devices
 @mixin xl {
    @media (min-width: #{$screen-xl-min}) {
        @content;
    }
 }

 // Custom devices
@mixin rwd($screen) {
    @media (min-width: $screen+'px') {
        @content;
    }
 }

/*end responsive settings*/

html{
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
*, *:before, *:after{
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}
body{
    background: #EEE;
    font-family: "Inconsolata", serif;
    margin: 0;
}
a{
    text-decoration: none;
}

#top-of-site-pixel-anchor {
    position: absolute;
    width: 1px;
    height: 1px;
    top: 1px;
    left: 0;
  }

.header{
    max-width: 100%;
    max-height: auto;
    display: block;
    padding: 16px 0px;
    background-color: transparent;
    -webkit-transition: background .2s ease;
    -moz-transition: background .2s ease;
    -o-transition: background .2s ease;
    transition: background .2s ease;

    h1, ul{
        margin: 0;
    }
}
.header__nav{
    display: flex;
}
.nav__title{
    flex: 3;
    margin-left: 5%
}
.nav__menu{
    flex: 1;
    display: inline-flex;
    flex-direction: column;
    justify-content: flex-end;
    list-style: none;
    font-size: 150%;
    margin-right: 5%;

    @include sm{
        flex-direction: row;
    }
    @include md{
        flex-direction: row;
    }
}
.nav__menu--elem{
    flex: 1;

    a{
        padding: 10px 20px;
    }
}
html:not([data-scroll='0']) {
	
	body {
	  margin-top: 75px;
	}
	.header {
		position: fixed;
		top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
		background: rgba(255, 255, 255, 1);
		box-shadow: 0 0 .5em rgba(0, 0, 0, .5);
	}
}