html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background: #fff;
  font-family: "Inconsolata", serif;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.content {
  text-align: center;
  font-size: 30px;
}

.header {
  text-align: start;
  max-width: 100%;
  height: 65px;
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
  padding: 16px 0px;
  background-color: transparent;
  transition: background 0.2s ease;
}
.header .nav__menu {
  margin: 0;
}

.header__nav {
  display: flex;
}

.nav__title {
  flex: 3;
  margin-left: 5%;
  color: #000;
  font-size: 30px;
  font-weight: bold;
}
.nav__title:hover {
  color: #fff;
}

.icon {
  visibility: none;
}

.nav__menu {
  flex: 1;
  display: inline-flex;
  flex-direction: row;
  justify-content: flex-end;
  list-style: none;
  font-size: 30px;
  margin-right: 5%;
}
@media (max-width: 768px) {
  .nav__menu {
    flex-direction: column;
    visibility: hidden;
  }
}
@media (max-width: 450px) {
  .nav__menu {
    flex-direction: column;
    visibility: visible;
  }
}

.nav__menu--elem {
  flex: 1;
  padding: 0px 20px;
  color: #000;
  transition: padding 0.25s ease;
}
.nav__menu--elem:hover {
  color: #fff;
}
@media (max-width: 820px) {
  .nav__menu--elem {
    padding: 0 10px;
  }
}

html:not([data-scroll="0"]) .header {
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
  background: white;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
  transition: height 0.1s linear;
}
html:not([data-scroll="0"]) .nav__title:hover {
  color: #f4623a;
}
html:not([data-scroll="0"]) a.nav__menu--elem:hover {
  color: #f4623a;
}

.content__header-intro {
  display: block;
  background: linear-gradient(to bottom, rgba(92, 77, 66, 0.8) 0%, rgba(92, 77, 66, 0.8) 100%), url(../images/bg-masthead.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  height: 947px;
  min-height: 640px;
  padding-top: 72px;
  padding-bottom: 0;
}

.content__elem--intro {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.content__intro {
  margin: 0 122px;
}
@media (max-width: 768px) {
  .content__intro {
    margin: 0 61px;
  }
}
@media (max-width: 576px) {
  .content__intro {
    margin: 0 30px;
  }
}

.content__elem--about {
  display: flex;
  background-color: #f4623a;
  padding: 128px 0px;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
.content__elem--about .about__title {
  margin-top: 0;
}

.element__about {
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin: 0 122px;
  color: #fff;
}
@media (max-width: 768px) {
  .element__about {
    margin: 0 61px;
  }
}
@media (max-width: 576px) {
  .element__about {
    margin: 0 30px;
  }
}

.content__elem--services {
  background-color: #fff;
  display: flex;
  flex: 0 0 100%;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.elem__services {
  flex: 1 0 auto;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  padding: 128px 0px;
  margin: 0 122px;
}
@media (max-width: 768px) {
  .elem__services {
    margin: 0 61px;
  }
}
@media (max-width: 576px) {
  .elem__services {
    margin: 0 30px;
  }
}

.elem__img img {
  width: 33px;
  height: 33px;
}

.services__list {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.list__elem {
  margin-right: 20px;
  width: 100%;
  height: 100%;
  flex: 1 0 21%;
}
@media (max-width: 1100px) {
  .list__elem {
    flex: 1 0 45%;
  }
}
@media (max-width: 710px) {
  .list__elem {
    flex: 1 0 75%;
    margin-right: 0px;
  }
}

.list__elem:last-child {
  margin-right: 0px;
}

.intro__separator,
.about__separator,
.services__separator,
.contact__separator {
  height: 3px;
  max-width: 52px;
  min-width: 52px;
  margin: 24px auto;
  background-color: #f4623a;
  opacity: 1;
  border: 0;
  display: block;
  unicode-bidi: -webkit-isolate;
  unicode-bidi: -moz-isolate;
  unicode-bidi: isolate;
  -webkit-margin-before: 8px;
          margin-block-start: 8px;
  -webkit-margin-after: 8px;
          margin-block-end: 8px;
  -webkit-margin-start: auto;
          margin-inline-start: auto;
  -webkit-margin-end: auto;
          margin-inline-end: auto;
  overflow: hidden;
}

.about__separator {
  background-color: #fff;
}

.content__elem--contact {
  padding: 128px 0px;
}

.footer {
  background-color: #eee;
  color: lightgray;
  right: 0;
  left: 0;
  bottom: 0;
  padding: 48px 0px;
  text-align: center;
}

.about__get-started,
.intro__more {
  position: relative;
  display: inline-flex;
  width: 200px;
  height: 55px;
  margin: 0 15px;
  perspective: 1000px;
  font-weight: bold;
  line-height: 45px;
}
.about__get-started a,
.intro__more a {
  font-size: 19px;
  letter-spacing: 1px;
  transform-style: preserve-3d;
  transform: translateZ(-25px);
  transition: transform 0.25s;
  font-family: "Montserrat", sans-serif;
}
.about__get-started a:before, .about__get-started a:after,
.intro__more a:before,
.intro__more a:after {
  position: absolute;
  content: "BUTTON";
  height: 55px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-content: center;
  border: 4px solid #000;
  box-sizing: border-box;
  border-radius: 5px;
}
.about__get-started a:before,
.intro__more a:before {
  color: #000;
  transform: rotateY(0deg) translateZ(25px);
}
.about__get-started a:after,
.intro__more a:after {
  color: #fff;
  background: #000;
  transform: rotateX(90deg) translateZ(25px);
}
.about__get-started a:hover,
.intro__more a:hover {
  transform: translateZ(-25px) rotateX(-90deg);
}

.about__get-started a:before, .about__get-started a:after {
  content: "GET STARTED!";
  border: 4px solid #fff;
}
.about__get-started a:before {
  color: #fff;
}
.about__get-started a:after {
  color: #000;
  background: #fff;
}

.intro__more a:before,
.intro__more a:after {
  content: "FIND OUT MORE";
}

.content__contact {
  display: flex;
  flex-direction: column;
  margin: 0 122px;
}
@media (max-width: 768px) {
  .content__contact {
    margin: 0 61px;
  }
}
@media (max-width: 576px) {
  .content__contact {
    margin: 0 30px;
  }
}

.form__telephone {
  display: flex;
  flex-direction: column;
}
.form__telephone img {
  width: 33px;
  height: 33px;
}

.contact__contact-form {
  display: flex;
  flex-direction: column;
  margin-bottom: 48px;
}

.elem__about {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  width: 100%;
  height: 100%;
  top: 0;
  margin: 0;
  visibility: hidden;
}

.about__category {
  font-size: 30px;
  font-weight: bold;
  color: rgba(240, 240, 240, 0.85);
}

.about__project {
  font-size: 40px;
}

.gallery__elem {
  position: relative;
  max-height: 345px;
}
@media (max-width: 992px) {
  .gallery__elem {
    flex: 1 1 50%;
  }
}
@media (max-width: 768px) {
  .gallery__elem {
    flex: 1 1 100%;
  }
}
.gallery__elem a {
  text-decoration: none;
  color: #fff;
}
.gallery__elem .elem__image,
.gallery__elem .gallery__elem {
  max-width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}
.gallery__elem .elem__about {
  visibility: hidden;
  transition: visibility 0.2s ease, background-color 0.5s ease;
}
.gallery__elem:hover .elem__about {
  visibility: visible;
  background-color: rgba(244, 98, 58, 0.8);
}

.portfolio__gallery {
  display: flex;
  flex-wrap: wrap;
  max-width: 1920px;
  margin: 0 auto;
}
.portfolio__gallery > * {
  flex: 1 1 33%;
}
@media (max-width: 992px) {
  .portfolio__gallery > * {
    flex: 1 1 50%;
  }
}
@media (max-width: 768px) {
  .portfolio__gallery > * {
    flex: 1 1 100%;
  }
}

.container {
  display: flex;
  margin: 0 16px;
}

input:focus ~ label,
textarea:focus ~ label,
tel:focus ~ label,
email:focus ~ label,
input:valid ~ label,
textarea:valid ~ label,
tel:valid ~ label,
email:valid ~ label {
  font-size: 20px;
  color: #000;
  top: -15px;
  transition: all 0.5s ease;
}

input[type=text],
textarea {
  font-size: 25px;
}

.styled-input {
  float: left;
  width: 293px;
  margin: 16px 0;
  position: relative;
  border-radius: 4px;
}

.to-right {
  float: right;
}

@media (max-width: 768px) {
  .styled-input {
    width: 100%;
  }
}
.styled-input label {
  color: #000;
  padding: 16px 30px 16px 30px;
  position: absolute;
  left: 0;
  transition: all 0.5s ease;
  pointer-events: none;
}

.styled-input.wide {
  width: 650px;
  max-width: 100%;
}

.input-field {
  padding: 15px;
  border: 0;
  width: 100%;
  font-size: 16px;
  background-color: #fff;
  color: #000;
  border-radius: 4px;
  border: 2px solid #000;
}

input:focus,
textarea:focus {
  outline: 0;
}

input:focus ~ span,
textarea:focus ~ span {
  width: 100%;
  transition: all 0.075s ease;
}

textarea {
  width: 100%;
  min-height: 240px;
  resize: none;
}

.input-container {
  width: 650px;
  max-width: 100%;
  margin: 20px auto 25px auto;
}

.submit-btn {
  padding: 7px 35px;
  border-radius: 60px;
  display: inline-block;
  background-color: #f4623a;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
  border: 1px solid #fff;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.06), 0 2px 10px 0 rgba(0, 0, 0, 0.07);
  transition: all 300ms ease;
}
.submit-btn:hover {
  color: #f4623a;
  background-color: #fff;
  border: 1px solid #f4623a;
}

@media (max-width: 768px) {
  .submit-btn {
    width: 80%;
    height: 40px;
    font-size: 30px;
    float: none;
    text-align: center;
    line-height: 18px;
  }
}
input[type=checkbox] + label {
  color: #000;
  font-style: italic;
}

input[type=checkbox]:checked + label {
  color: #000;
  font-style: normal;
}

.nav__menu--collapsed {
  margin-right: 20px;
  position: relative;
  display: none;
}
@media (max-width: 768px) {
  .nav__menu--collapsed {
    display: block;
  }
}
@media (max-width: 450px) {
  .nav__menu--collapsed {
    flex: 2;
    justify-content: flex-end;
    order: 2;
    right: 0;
  }
}

@media (max-width: 450px) {
  .header__nav {
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .nav__title {
    flex: 3;
    order: 1;
  }

  .nav__menu {
    order: 3;
    flex: 1;
  }
}
.menu-icon {
  top: 0;
  right: 0;
}

.menu-icon .bar-1,
.menu-icon .bar-2,
.menu-icon .bar-3 {
  display: block;
  flex-direction: column;
  background: #000;
  height: 4px;
  margin: 6px 0;
  width: 30px;
  transition: 0.5s ease;
}

#menuToggle {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1031;
  opacity: 0;
}

#menuToggle:checked ~ .menu-icon .bar-1 {
  transform: rotate(-45deg) translate(-10px, 3px);
}

#menuToggle:checked ~ .menu-icon .bar-2 {
  opacity: 0;
}

#menuToggle:checked ~ .menu-icon .bar-3 {
  transform: rotate(45deg) translate(-10px, -3px);
}

#menuToggle:checked ~ .menu-icon {
  visibility: visible;
}/*# sourceMappingURL=styles.css.map */