/*responsive settings*/
/*end responsive settings*/
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background: #FFF;
  font-family: "Inconsolata", serif;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.content {
  text-align: center;
  font-size: 150%;
}

.header {
  text-align: start;
  font-size: 80%;
  max-width: 100%;
  max-height: 65px;
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
  padding: 16px 0px;
  background-color: transparent;
  transition: background 0.2s ease;
}
.header h1, .header ul {
  margin: 0;
}

.header__nav {
  display: flex;
}

.nav__title {
  flex: 3;
  margin-left: 5%;
  color: #000;
}

.nav__menu {
  flex: 1;
  display: inline-flex;
  flex-direction: row;
  justify-content: flex-end;
  list-style: none;
  font-size: 150%;
  margin-right: 5%;
}
.nav__menu--toogle {
  display: none;
}
@media (max-width: 768px) {
  .nav__menu {
    flex-direction: column;
  }
  .nav__menu--toogle {
    align-self: flex-end;
    display: initial;
    position: absolute;
    cursor: pointer;
  }
}

a.nav__menu--elem {
  flex: 1;
  padding: 0px 20px;
  color: #000;
}

html:not([data-scroll="0"]) .header {
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
  background: white;
  box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.5);
}

.content__header-intro {
  display: block;
  background: linear-gradient(to bottom, rgba(92, 77, 66, 0.8) 0%, rgba(92, 77, 66, 0.8) 100%), url(../images/bg-masthead.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  height: 100vh;
  min-height: 40rem;
  padding-top: 4.5rem;
  padding-bottom: 0;
}

/*@media (min-width: 992px){
    .content__elem--intro {
        height: 100vh;
        min-height: 40rem;
        padding-top: 4.5rem;
        padding-bottom: 0;
    }
}*/
.content__elem--intro {
  margin: 0px 122px;
}

.content__elem--about {
  background-color: #f4623a;
  padding: 128px 0px;
}
.content__elem--about h2 {
  margin-top: 0;
}

.elem__about {
  margin: 0px 122px;
  color: #FFF;
}

.content__elem--services {
  background-color: #FFF;
  padding: 128px 0px;
}

.elem__services {
  margin: 0px 122px;
}

.elem__img img {
  width: 33px;
  height: 33px;
}

.services__list {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}
.services__list .list__elem {
  margin-right: 20px;
}
.services__list .list__elem:last-child {
  margin-right: 0px;
}
.services__list h2 {
  font-size: 100%;
}

.intro__separator, .about__separator, .services__separator, .contact__separator {
  height: 0.2rem;
  max-width: 3.25rem;
  margin: 1.5rem auto;
  background-color: #f4623a;
  opacity: 1;
  border: 0;
  display: block;
  unicode-bidi: -webkit-isolate;
  unicode-bidi: -moz-isolate;
  unicode-bidi: isolate;
  -webkit-margin-before: 0.5em;
          margin-block-start: 0.5em;
  -webkit-margin-after: 0.5em;
          margin-block-end: 0.5em;
  -webkit-margin-start: auto;
          margin-inline-start: auto;
  -webkit-margin-end: auto;
          margin-inline-end: auto;
  overflow: hidden;
}

.about__separator {
  background-color: #FFF;
}

.content__elem--contact {
  padding: 128px 0px;
}

.footer {
  background-color: #EEE;
  color: lightgray;
  right: 0;
  left: 0;
  bottom: 0;
  padding: 48px 0px;
}

.about__get-started, .intro__more {
  position: relative;
  display: inline-flex;
  width: 180px;
  height: 55px;
  margin: 0 15px;
  perspective: 1000px;
  font-weight: bold;
}
.about__get-started a, .intro__more a {
  font-size: 19px;
  letter-spacing: 1px;
  transform-style: preserve-3d;
  transform: translateZ(-25px);
  transition: transform 0.25s;
  font-family: "Montserrat", sans-serif;
}
.about__get-started a:before,
.about__get-started a:after, .intro__more a:before,
.intro__more a:after {
  position: absolute;
  content: "BUTTON";
  height: 55px;
  width: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 5px solid black;
  box-sizing: border-box;
  border-radius: 5px;
}
.about__get-started a:before, .intro__more a:before {
  color: #000;
  transform: rotateY(0deg) translateZ(25px);
}
.about__get-started a:after, .intro__more a:after {
  color: #fff;
  background: #000;
  transform: rotateX(90deg) translateZ(25px);
}
.about__get-started a:hover, .intro__more a:hover {
  transform: translateZ(-25px) rotateX(-90deg);
}

.about__get-started a:before,
.about__get-started a:after {
  content: "GET STARTED!";
  border: 5px solid white;
}
.about__get-started a:before {
  color: #FFF;
}
.about__get-started a:after {
  color: #000;
  background: #FFF;
}

.intro__more a:before,
.intro__more a:after {
  content: "FIND OUT MORE";
}/*# sourceMappingURL=styles.css.map */